@page "/adminLogin"
@using BusServiceApplication.Data.Models
@using System.Diagnostics;
@using BusServiceApplication.Services;
@using BusServiceApplication.Pages;
@using BusServiceApplication.HelperMethods;
@inject LoginPageService loginPageService
@inject NavigationManager navigationManager




<EditForm Model="ExistingUser" OnValidSubmit="HandleLogin" class="col-md-3">
    <DataAnnotationsValidator /> @*Allows me to use validators on the form  *@

    <h1>Admin Login</h1>
    <lable class="form-label">Email Address</lable>
    <InputText id="EmailAddress" @bind-Value="ExistingUser.emailAddress" class="form-control"></InputText>
    <ValidationMessage For=" ()=> ExistingUser.emailAddress"></ValidationMessage> @*Validation for blank or invalid input*@
    <lable class="form-label">Password</lable>
    <InputText id="Password" @bind-Value="ExistingUser.password" class="form-control"></InputText>
    <ValidationMessage For=" ()=> ExistingUser.password"></ValidationMessage> @*Validation for blank or invalid input*@
    <button type="submit" class="form-control mt-2 btn-primary">Login</button>

</EditForm>

@* <button @onclick="SendEmail">SendEmail</button>*@



@code {
    public AdministrationDetails ExistingUser = new AdministrationDetails();

    private string message = string.Empty;

    /*
    private async Task SendEmail()
    {
        try
        {
            message = await EmailSender.RegisterationEmail();
        }
        catch(Exception message)
        {
            Debug.Write(message);
        }
    }
    */

    public void HandleLogin(EditContext editContext)
    {
        // need to get the entry from the database
        // need to complete validation on the front end

        //code here gets confirms we have the record
        var ExistingUserAdmin = (AdministrationDetails)editContext.Model;
        loginPageService.GetAdminForLogIn(ExistingUserAdmin.emailAddress, ExistingUserAdmin.password);

        //code here stores the retrieved object into a variable
        var PersonObjectIamGetting = loginPageService.GetAdminObjectWithLoginDetails(ExistingUser.emailAddress, ExistingUser.password);


        //this is how we will handle routing and pass the value to the URL and then we will store that value in a parameter within
        navigationManager.NavigateTo($"/AdministarotPage/{PersonObjectIamGetting.Id}");
    }
}
