@using BusServiceApplication.Services;
@using BusServiceApplication.Pages.Administrator_Components;
@using BusServiceApplication.Pages.Administrator_Components.MISReports;
@using BusServiceApplication.Pages.Administrator_Components;
@inject AdministratorServices administratorLoginServices;
@page "/AdministarotPage/{Id}"

<PageTitle>Administrator Landing Page</PageTitle>

<div class="container text-center mt-5">
    <h3>Administrator Page</h3>
   

    <h1 class="mb-4">Show the Entire Waiting List</h1>
    <div class="mb-4 text-center">
        <DisplayWaitingList />
    </div>

    <h1 class="mb-4">Students on Bus List</h1>
    <div class="mb-4 text-center">
        <DisplayStudentsOnBusList />
    </div>

    <h1 class="mb-4">Daily MIS Reports</h1>
    <div class="mb-4 text-center">
        <DailyMISStudentsOnBussesbyDay />
    </div>

    <h1 class="mb-4">Weekly MIS Report</h1>
    <div class="text-center">
        <WeeklyMISStudentsOnBussesByWeek />
    </div>
</div>


@code {
    [Parameter]
    public string Id { get; set; }
    // I need to write a method that gets he administrator by the ID and then adds them to the administraor object
    public AdministrationDetails thisAdministrator =  new AdministrationDetails();

    protected override async Task OnInitializedAsync()
    {
       thisAdministrator = administratorLoginServices.GetAdministratorDetailsFromId(Id);
    }

 
}
