@using BusServiceApplication.Services;
@using BusServiceApplication.Pages.Administrator_Components;
@using BusServiceApplication.Pages.Administrator_Components.MISReports;
@using BusServiceApplication.Pages.Administrator_Components;
@inject AdministratorServices administratorLoginServices;
@page "/AdministarotPage/{Id}"



<div class="container text-center mt-5">
    

      <div class="container mt-4" style="background-color: #A4C1EC;">
        <PageTitle>Administrator Landing Page</PageTitle>
        <h3>Administrator Page</h3>
        <h1 class="mb-4">Show the Entire Waiting List</h1>
    </div>
   

    
    <div class="mb-4 text-center">
        <DisplayWaitingList />
    </div>


</div>


@code {
    [Parameter]
    public string Id { get; set; }
    // I need to write a method that gets he administrator by the ID and then adds them to the administraor object
    public AdministrationDetails thisAdministrator =  new AdministrationDetails();

    protected override async Task OnInitializedAsync()
    {
       thisAdministrator = administratorLoginServices.GetAdministratorDetailsFromId(Id);
    }

 
}
